{
  "extends": [
    "standard"
  ],
  "rules": {
    "semi": [
      2,
      "always"
    ]
  },
  "globals": {
    "CubxComponent": true,
    "require": true,
    "module": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true,
    "sinon": true
  }
}
