<!--
    This is an (optional) rendering template for the members defined in the manifest (MANIFEST.compound.js).
    Please make sure to create instances for ALL members defined in the manifest.
-->
<template id="<%= elementName %>">
    <section class="<%= webpackageName %>_section">
        <article>
            First element:
            <<%= webpackageName %>-elem1 member-id-ref="first"></<%= webpackageName %>-elem1>
            <hr/>
            Second element:
            <<%= webpackageName %>-elem1 member-id-ref="second"></<%= webpackageName %>-elem1>
        </article>
    </section>
</template>
