/*
    Write your style definitions here.
    By default, webpack expects to find SugarSS ("Indent-based CSS syntax for PostCSS.")
    @see https://github.com/postcss/sugarss
*/
.section
    background: green
