<!--
    This is your webpackage index page.
    Just use it to
    * demonstrate elements of your webpackage,
    * evaluate the integration with elements of other webpackages,
    * test the integration with the dom-api.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= webpackageName %></title>
    <script src="/cubx.core.rte@3.0.0-SNAPSHOT/webcomponents/custom-elements-es5-adapter.js"></script>
    <script src="/cubx.core.rte@3.0.0-SNAPSHOT/webcomponents/webcomponents-lite.js"></script>
    <script src="/cubx.core.rte@3.0.0-SNAPSHOT/crc-loader/js/main.js" data-crcinit-loadcif="true"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Showcases of this webpackage</h1>
        </div>
        <ul>
        <%= artifactIndex %>

        </ul>
    </div>
</body>

</html>